.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  margin: 2rem 2rem;
  list-style: none; 
}

.form {
  padding: 1rem;
  width: 100%;
}

.formContainer{
  width: 35vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 90vh;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.control input {
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.control textarea {
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
  height: 100px;
  resize: none;
}

.position {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}

.position label {
  display: inline;
  margin: 0;
  font-weight: 300;
}

.position input {
  display: inline;
  width: 60%;

}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
  margin-bottom: 1em;
}

.dropdown select {
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 50%;
}